.barSection {
  max-width: 800px;
  margin: 2rem auto;
  font-family: sans-serif;
  background: #232628;
}


.barSection input[type="radio"] {
  display: none;
}


.barSection label {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: #232628;
  color: #fff;
  margin-right: 5px;
  cursor: pointer;

}

.barSection label:hover {

}

.subTitle {
  font-size: 1.2rem;
  background-color: inherit;
}

.subTitle:hover, .subTitle:focus {
     border-top: 5px solid #CC6119;
}


.content {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #f8f8f8;
}


#desc:checked ~ .desc,
#tech:checked ~ .tech,
#opt:checked ~ .opt,
#contact:checked ~ .contact {
  display: block;
}


#desc:checked + label,
#tech:checked + label,
#opt:checked + label,
#contact:checked + label {
  background: #eaeaea;
  font-weight: bold;
}

.vehicleImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
