@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1{
  font-family:'Montserrat', Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
 letter-spacing: 1.5px;
  color: #fff;

}

h2, h3, p{
  font-family:'Open Sans', Arial, sans-serif;
}

h2{
  font-size: 0.95rem;
}

h3{
  font-size: 0.9rem;
}

p{
  font-size: 0.8rem;
}
a {
    text-decoration: none;
    color: #fff;
}
.header-row, .subheader-row{
  display: flex;
  gap: 1rem; 
  align-items: center;
  margin-left:-5px;
}

.header-row {
    height: 5rem;
  background-color: #232628;
    justify-content:left;
    margin-top: 500px;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 24%;
}

.titleOrange{
    color: #CC6119;
}
.subheader-row h2 {
margin-right: -8px;
justify-content:left;
padding-left: 0.3rem;
}

.imageSection{
    position: absolute;
    width: 100%;
     height: 45rem;
    top:0px;
    /* crop: rect(0, 0, 0, 0); */
    /* max-height: 15rem; */
    /* top: 1px; */
    object-fit: cover;
    object-position: top;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.intro{
 font-weight: bold;
}

.subheader{
    font-weight: 700;
}

.splitColumns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    margin-left: 250px;
    margin-right: 250px;
}

.splitColumnText{
    flex: 1;
    width: 15rem;
    padding-left: -5rem;
    padding-right: 5rem;
}
.paragraphe{
    font-size: 11px;
}

.list{
    list-style-type: disc;
    padding-left: 1.5rem;
    font-size: 11px;
}
li{
    margin-bottom: 0.5rem;
}

.homeColumnImages{
    width: 23rem;
    height: 100%;
    max-height: 20rem;
    object-fit: cover;
    padding-left: 1rem;
}
.vehicleImages{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-height: 30rem;
    object-fit: cover;
    z-index: -1;
}
.vehicleProductImage{
    width: 27rem;
    height: 300px;
    max-height: 30rem;
    padding-left: 1rem;
    object-fit: cover;
 
}

.wishBoxYellow, .wishBoxRed{
    padding:1.5rem 1rem 2rem 1rem;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.wishBoxYellow:hover, .wishBoxRed:hover{
    opacity: 0.8;
}


.wishBoxYellow{
    background-color: #FAB637;
}
.wishBoxRed{
    background-color: #FF4848;
    margin-left: 0.5rem;
}

.wishTitle{
    font-weight: bold;
    font-size: 1.3rem;
    color:#232628;
}

.widhParagraph{
    color:#ECEFF3;
    font-size: 0.6rem;
}

.vehiclesSection{
    margin-top: 5rem;
    background-color: #232628;
}
.vehicleTile{
    color:#fff;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
}
.orangeLine{
    width: 46rem;
    height: 0.15rem;
    background-color: #CC6119;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.containerOrangeLine{
    display: flex;
    justify-content: center;
    align-items: center;
}
.splitColumnsVehicles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;

    margin-left: 250px;
    margin-right: 250px;

}
.vehicleProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    width: 27rem;
}

.vehiclesGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    /* padding: 1rem 1rem 3rem 0rem; */
    padding-left: 20px;
    padding-right: 20px;
}
.vehicleProductTitle{
    background-color: #484a4b;
    width: 14rem;
    margin-left: 1rem;
    opacity: 0.9;
}
.splitColumnsProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-left: 0rem;
    padding-right: 0.5rem;
}
.productTitle{
    font-weight: bold;
    font-size: 0.8rem;
    color:#ffffff;
    padding-left: 0.5rem;
}
.btnPrice{
    background-color: #6C98E1;
    color: #fff;
    border: none;
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.split4Columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 12%;
    padding-right: 12%;
    margin-left: 10rem;
    margin-right: 10rem;
}
.split2Column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconImage{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}
.iconTitle{
    font-weight: bold;
    font-size: 0.8rem;
    color:#232628;
    padding-left: 0.5rem;
}

.subTitle{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    color:#232628;
    padding-left: 0.5rem;
}
.contactSection{
   display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.btnContact{
    background-color: #6C98E1;
    color: #fff;
    border: none;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.btnContact:hover{
    background-color: #5a7bbf;
    transition: background-color 0.3s ease-in-out;
}
.moreDetailSection{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 12%;
    margin-left: 10rem;
}

.moredetailCenter{
    display: flex;
}
.moreDetailBox{
    width: 23rem;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    cursor: pointer;
    padding:1.5rem 1rem 2rem 1rem;
    background-color: #FAB637;
}

.moreDetailBox:hover{
opacity: 0.8;
}

.moreDetailsTitle{
    font-weight: bold;
    font-size: 1.3rem;
    color:#232628;
}

.subMoreDetailsTilte{
    color:#ffffff;
}
@media screen and (max-width: 1224px) {
   .splitColumns{
    margin-left: 0rem;
    margin-right: 0rem;
}
.header-row {
    padding-left: 12%;
}
    .splitColumnsVehicles{
     margin-left: 0rem;
     margin-right: 0rem;
    }
    .splitColumnsProduct{
     padding-left: 0rem;
     padding-right: 0rem;
    }
    .split4Columns{
     margin-left: 0rem;
     margin-right: 0rem;
    }
    .split2Column{
     flex-direction: column;
    }
    .moreDetailSection{
     padding-left: 0rem;
     padding-right: 0rem;
    }
    
}